body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4d9120;
}

.banner {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("https://lh3.googleusercontent.com/pw/AP1GczMRiY8zlMxp4694MFkkdwQGTKr6yXnsiNl0A46rANWXCkdOM56PpSAFTsSPWo9ZrlCNHeej9PsA_aC7KuEgqPevK2DnxMczW_W8pH0JDkuFBQSU_Os4lhslC4pWOhUWBRCMQ-Qo2rc9mtwSgrPAE8Pd8ECDPJCdldot9vljuM14jyL1g0FYJ_bpMN0TXtc1t8rGh6P55IZVV3a7kFc6pVreLZF-wLXCvJVJnoYXglREgpmNq1KWGKhmxh_IKyaosAQIHUaYQKrhjsO4lqqwZhFyI1dWhgzKvbBbIvkp8WARlX9KNcvx2oD4GPEt652BA5E7-X1p9xfUbuhOCppcMq5mSXdU5c3wer3ErIQRO5wXOE82cNi_qrHNCirINwqV6vOlK85gEhr65xlsXtIZzUbjsVfZi5NwI3m7dSx8Sc95ulFLioAlGIvC4v_nAqhVeK802cOq91IprsBRGTtyy4YTGy3Nm0_SjQrLJhM0LlskFJq1kbtztoQNlNHWYnJUkiqosRSrDJ7g6MYlrF1dHK2w8q68SYo50P540VjLhQOVo-ySNkV37wEd8a9nIV8SUaQeoJuvfOm6sFAUjrWYcZlzgcwdEpfG-9WnOV8SPRf66VwOxVef8t3sjfyINvPA6ma598aOT4FDU1eLf7_9vtn4-GOdLVXU2Q9Xj14jhA_7o9wovcE6Hwipp0MwVm34F3dN68m6hMp1yLLOjMZUfF_IeFuC6yaKkb7nif1P6SYnYTK9fYtA_N4ivBIbTfgcS1S1nOAk2aQmNYm2ODItukZVLWDvlggGmBe5yQ29L6ywb_YJtu81HwOGQRRGySGyHUt7LLpqgyFylHp31HRuxYdaPLQYaMzr9DZU03tCQGC4qam-CdJjlfY3wujItcTnb8wA114GHj9WpQJY-2U4sso2sQ=w1369-h913-no");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.logo-container {
    float: left;
    margin-right: 20px;
}

.logo {
    width: 150px;
    height: auto; /* Ensure image responsiveness */
    display: block;
}

.content-container {
    overflow: hidden; /* Clear float from logo */
    text-align: center;
}

.logo-text {
    font-size: 40px;
    margin-bottom: 10px;
}

.sub-heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.abstract {
    font-size: 35px;
    color: rgb(224, 194, 137);
    margin-top: 20px;
}

.abstract2 {
    font-size: 20px;
    color: aliceblue;
    line-height: 1.5;
    margin-top: 20px;
    text-align: justify;
}

.button-container {
    margin-top: 30px;
    text-align: center;
}

.butn, .butn2, .butn3 {
    width: 200px;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.butn2, .butn3 {
    background: #009688;
}

.content {
    padding: 20px;
    overflow-y: auto;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .logo-container {
        float: none;
        margin: 0 auto 20px; /* Center the logo */
    }

    .content-container {
        margin-left: 0; /* Reset margin for smaller screens */
    }
}
